# Секреты
.env

# Данные (храним только структуру, не сами данные в больших объемах)
# datasets/   <-- закомментируй, если хочешь оставить примеры CSV в репозитории

# База данных
pgdata/

# IDE и системные файлы
.vscode/
.DS_Store
*.swp

# Python (если появится)
__pycache__/
.venv/
